<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 수정</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 class="page-title">상품 수정</h1>

<form th:action="@{'/admin/items/edit/' + ${itemEditForm.id}}" method="post" enctype="multipart/form-data"
      class="form-container"
      th:object="${itemEditForm}" onsubmit="return confirm('정말로 이렇게 수정 하시겠습니까?');">
    <input type="hidden" name="_method" value="patch"/>
    <intpu type="hidden" name="id" th:value="${itemEditForm.id}"/>
    <div class="form-field">
        <label for="name" class="form-label">상품명:</label>
        <input type="text" id="name" name="name" required class="form-input"
               th:value="${itemEditForm?.name}">
    </div>

    <div class="form-field">
        <label for="name" class="form-label">설명:</label>
        <input type="text" id="description" name="description" required class="form-input"
               th:value="${itemEditForm?.description}">
    </div>

    <div class="form-field">
        <label for="category" class="form-label">카테고리:</label>
        <select id="category" name="category" required class="form-input">
            <option value="BEAN" th:selected="${itemEditForm?.category == 'BEAN'}">BEAN</option>
            <option value="TEA" th:selected="${itemEditForm?.category == 'TEA'}">TEA</option>
            <option value="GOODS" th:selected="${itemEditForm?.category == 'GOODS'}">GOODS</option>
            <option value="OTHER" th:selected="${itemEditForm?.category == 'OTHER'}">OTHER</option>
        </select>
    </div>

    <div class="form-field">
        <label for="price" class="form-label">가격:</label>
        <input type="number" id="price" name="price" required class="form-input"
               th:value="${itemEditForm?.price}">
    </div>

    <div class="form-field">
        <label for="image" class="form-label">이미지:</label>
        <input type="file" id="image" name="image" accept="image/*" class="form-input">
    </div>

    <div class="form-field image-container" style="text-align: center;">
        <div class="form-field image-container" style="text-align: center;"
             th:if="${itemEditForm != null && itemEditForm.imageUrl != null}" th:onerror="this.style.display='none'">
            <img class="item-image"
                 th:src="@{'/api/items/' + ${itemEditForm.id} + '/images'}" alt="상품 이미지">
        </div>

    <div class="button-container">
        <button type="submit" class="btn btn-save">저장</button>
        <a href="/admin/items">
            <button type="button" class="btn btn-cancel">취소</button>
        </a>
    </div>
</form>
</body>
</html>
